/* Custom variables */
:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Red Hat Display', sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

p{
    color: var(--Desaturated-blue);
    font-size: 16px;
}

img {
    width: 100%;
    display: block;
}

.flex{
    display: flex;
}

.container{
    /* background: url('./images/pattern-background-mobile.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-blue);
    background-blend-mode: screen;
    width: 100%;
    height: 100vh;
}

@media (min-width: 375px){
    .container{
        /* background: url('./images/pattern-background-desktop.svg'); */
        background-repeat: no-repeat;
    }
}

/* Card classes */
.card{
    display: flex;
    flex-direction: column;
    width: 325px;
    background-color: white;
    border-radius: 1em;
    
}

.card img{
    border-radius: 1em 1em 0 0;
    height: 170px;
    object-fit: cover;
}

/* card-content */
.card-content{
    padding: 1.5em;
    flex-flow: column nowrap;

}

.card-content > *{
    
    margin: 0.7em 0;
}

.card-content h2{
    font-weight: 900;
}

.card-content h2, p, a{
    text-align: center;
} 

.card-content a{
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: 700;
}
/* Plan and pricing */

.plan-container{
    --music-icon-width: 40px;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    font-size: 14px;
}

.plan-container > *{
    margin: 0 9px;
    
}

.plan-container a{
    
    margin-left: auto;
}

.plan-container img{
    width: var(--music-icon-width);
    height: var(--music-icon-width);
}

.plan-container a{
    font-weight: bold;
    color: var(--bright-blue);
}

.plan-description{
    flex-flow: column nowrap;
}

.plan-type{
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.plan-price{
    font-size: 15px;
}

/* Button styling */

.btn{
    padding: 1em;
    outline: none;
    border: none;
    background-color: var(--bright-blue);
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 18px 19px 0px hsla(245, 75%, 52%, 0.2);
}